@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel

<div class="text-center">
    
     <div class="bar">
        
        <a href="/">Chefs</a>
        <div>|</div>
        <p>Dishes</p>
        <div>|</div>
        <a href="/chefs/new">Add a Chef</a>
        <div>|</div>
        <a href="/dishes/new">Add a Dish</a>
    </div>

    <h1 class="display-4">Yum!Check out our tasty dishes!</h1>
    <hr>
    <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Chef</th>
      <th scope="col">Tastiness</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>
  <tbody>
    
      @foreach (Dish dish in Model.AllDishes)
      {
      <tr>
        <td>@dish.Name</td>
        <td>@dish.ChefCreator.FirstName @dish.ChefCreator.LastName </td>
        <td>@dish.Tastiness</td>
        <td>@dish.Calories</td>
      </tr>
      }
   
    

  </tbody>
</table>    
</div>
